@page "/ticket-details"
@using CrownATTime.Client.Helpers

@attribute [Authorize]

<RadzenStack Gap="2">
     <RadzenStack Orientation="Radzen.Orientation.Horizontal">   
        <RadzenLabel Text="Title:" Style="font-weight: bold" />
<RadzenLabel Text="@Ticket.item.title" />
    </RadzenStack>
<RadzenStack Orientation="Radzen.Orientation.Horizontal">   
        <RadzenLabel Text="Created:" Style="font-weight: bold" />
<RadzenLabel Text="@(Ticket.item.createDate.ToLocalTime().ToString())" />
    </RadzenStack>
<RadzenStack Orientation="Radzen.Orientation.Horizontal">   
        <RadzenLabel Text="Status:" Style="font-weight: bold" />
<RadzenBadge Text="@StatusName" BadgeStyle="Radzen.BadgeStyle.Info" IsPill="true" Variant="Radzen.Variant.Filled" Shade="Radzen.Shade.Dark" Style="padding-left: 10px; padding-right: 10px">
                                               <RadzenStack Style="width: 100%">
                                                   <RadzenText Text="@StatusName" Style="font-weight: bold" />
                                               </RadzenStack>
                                           </RadzenBadge>
    </RadzenStack>
<RadzenStack Orientation="Radzen.Orientation.Horizontal">   
        <RadzenLabel Text="Priority:" Style="font-weight: bold" />
        <RadzenBadge Text="@PriorityName" BadgeStyle="Radzen.BadgeStyle.Danger" IsPill="true" Variant="Radzen.Variant.Filled" Visible="@(PriorityName == "Critical")" Style="padding-left: 10px; padding-right: 10px">
                                               <RadzenStack Style="width: 100%">
                                                   <RadzenText Text="@PriorityName" Style="font-weight: bold" />
                                               </RadzenStack>
                                           </RadzenBadge> 
                                           <RadzenBadge Text="@PriorityName" BadgeStyle="Radzen.BadgeStyle.Warning" IsPill="true" Variant="Radzen.Variant.Filled" Visible="@(PriorityName == "High")" Style="background-color: darkorange; padding-left: 10px; padding-right: 10px">
                                               <RadzenStack Style="width: 100%">
                                                   <RadzenText Text="@PriorityName" Style="font-weight: bold; color: #000000" />
                                               </RadzenStack>
                                           </RadzenBadge>
<RadzenBadge Text="@PriorityName" BadgeStyle="Radzen.BadgeStyle.Success" IsPill="true" Variant="Radzen.Variant.Filled" Visible="@(PriorityName == "Medium")" Style="padding-left: 10px; padding-right: 10px">
                                               <RadzenStack Style="width: 100%">
                                                   <RadzenText Text="@PriorityName" Style="font-weight: bold; color: #000000" />
                                               </RadzenStack>
                                           </RadzenBadge>
<RadzenBadge Text="@PriorityName" BadgeStyle="Radzen.BadgeStyle.Info" IsPill="true" Variant="Radzen.Variant.Filled" Visible="@(PriorityName == "Low")" Style="padding-left: 10px; padding-right: 10px">
                                               <RadzenStack Style="width: 100%">
                                                   <RadzenText Text="@PriorityName" Style="font-weight: bold" />
                                               </RadzenStack>
                                           </RadzenBadge>
<RadzenBadge Text="@PriorityName" BadgeStyle="Radzen.BadgeStyle.Light" IsPill="true" Variant="Radzen.Variant.Filled" Visible="@(PriorityName == "Very Low")" Shade="Radzen.Shade.Lighter" Style="padding-left: 10px; padding-right: 10px">
                                               <RadzenStack Style="width: 100%">
                                                   <RadzenText Text="@PriorityName" Style="font-weight: bold" />
                                               </RadzenStack>
                                           </RadzenBadge>
                                           <RadzenBadge Text="@PriorityName" BadgeStyle="Radzen.BadgeStyle.Light" IsPill="true" Variant="Radzen.Variant.Filled" Visible="@(PriorityName == "Information")" Shade="Radzen.Shade.Lighter" Style="padding-left: 10px; padding-right: 10px">
                                               <RadzenStack Style="width: 100%">
                                                   <RadzenText Text="@PriorityName" Style="font-weight: bold" />
                                               </RadzenStack>
                                           </RadzenBadge>
    </RadzenStack>
<RadzenStack Orientation="Radzen.Orientation.Horizontal">   
        <RadzenLabel Text="Primary Resource:" Style="font-weight: bold" />
<RadzenBadge Text="@PrimaryResource" BadgeStyle="Radzen.BadgeStyle.Info" IsPill="true" Variant="Radzen.Variant.Filled" Shade="Radzen.Shade.Dark" Style="padding-left: 10px; padding-right: 10px">
    <RadzenStack Style="width: 100%">
        <RadzenText Text="@PrimaryResource" Style="font-weight: bold" />
        </RadzenStack>
        </RadzenBadge>
</RadzenStack>
<RadzenStack Orientation="Radzen.Orientation.Horizontal">   
        <RadzenLabel Text="Secondary Resource(s):" Style="font-weight: bold" />
        @foreach (var item in SecondaryResources)
        {
            <RadzenBadge Text="@item" BadgeStyle="Radzen.BadgeStyle.Info" IsPill="true" Variant="Radzen.Variant.Filled" Shade="Radzen.Shade.Dark" Style="padding-left: 10px; padding-right: 10px">
                <RadzenStack Style="width: 100%">                
                    <RadzenText Text="@item" Style="font-weight: bold" />
                </RadzenStack>
            </RadzenBadge>
        }
</RadzenStack>
<RadzenStack Orientation="Radzen.Orientation.Horizontal">   
        <RadzenLabel Text="Queue:" Style="font-weight: bold" />
<RadzenBadge Text="@PrimaryResource" BadgeStyle="Radzen.BadgeStyle.Info" IsPill="true" Variant="Radzen.Variant.Filled" Shade="Radzen.Shade.Dark" Style="padding-left: 10px; padding-right: 10px">
                                               <RadzenStack Style="width: 100%">
                                                   <RadzenText Text="@QueueName" Style="font-weight: bold" />
                                               </RadzenStack>
                                           </RadzenBadge>
    </RadzenStack> 
                                           
<RadzenStack Orientation="Radzen.Orientation.Vertical">
        <RadzenLabel Text="Description:" Style="font-weight: bold">
            <RadzenFieldset Text="Description" AllowCollapse="false" Icon="description">
                @* <RadzenText Text="@Ticket.item.description" style="white-space: break-spaces;" /> *@
                <div class="rz-text-body1" style=white-space: pre-line">
                    @((MarkupString)TextHelpers.Linkify(Ticket.item.description))
                </div>
            </RadzenFieldset>
        </RadzenLabel>
        <RadzenTabs RenderMode="Radzen.TabRenderMode.Client" Change="@Tabs0Change">
            <Tabs>
                <RadzenTabsItem Text="Activity" Icon="history">
                                    <ChildContent>
                                        <RadzenDataGrid @ref="timeEntriesGrid" TItem="Server.Models.TimeEntryDto" IsLoading="@gridLoading" Data="@timeEntries" Count="@timeEntriesCount" LoadData="@TimeEntriesDataGridLoadData">
                                            <Columns>
                                                <RadzenDataGridColumn TItem="Server.Models.TimeEntryDto" Property="SummaryNotes" Title="Activity">
                                                    <Template>
                                                        <RadzenStack>
                                                            <RadzenStack Orientation="Radzen.Orientation.Horizontal">
                                                                <RadzenLabel Text="Created: " Style="font-weight: bold" />
                                                                <RadzenLabel Text="@context.StartDateTime.Value.ToLocalTime().ToString("MM/dd/yyyy h:mm tt")" />
                                                            </RadzenStack>
                                                            <RadzenStack Orientation="Radzen.Orientation.Horizontal" AlignItems="Radzen.AlignItems.Center">
                                                <RadzenImage Path="@($"images/{context.ResourceId}.png")" class="avatar" Visible="@((context.LicenseTypeId == 1 || context.LicenseTypeId == 3) && context.ResourceName != "Autotask Administrator")" />
                                                <RadzenIcon Icon="person" Style="width: 50px; height: 50px; font-size: 45px" IconStyle="Radzen.IconStyle.Primary" Visible="@((context.LicenseTypeId != 1 && context.LicenseTypeId != 3) || context.ResourceName == "Autotask Administrator")"></RadzenIcon>
                                                                <RadzenLabel Text="Resource: " Style="font-weight: bold" />
                                                                <RadzenLabel Text="@context.ResourceName" />
                                                            </RadzenStack>
                                                            <RadzenStack Orientation="Radzen.Orientation.Vertical">
                                                                <RadzenLabel Text="Summary Notes: " Style="font-weight: bold" Visible="@(!string.IsNullOrEmpty(context.SummaryNotes))" />
                                                                <RadzenText Text="@(context.SummaryNotes)" Visible="@(!string.IsNullOrEmpty(context.SummaryNotes))" style="white-space: pre-line;" />
                                                                
                                                            </RadzenStack>
                                                            <RadzenStack Orientation="Radzen.Orientation.Vertical">
                                                <RadzenLabel Text="Internal Notes: " Style="font-weight: bold; color: var(--rz-success-dark)" Visible="@(!string.IsNullOrEmpty(context.InternalNotes))" />

                                                @* <RadzenText Text="@((MarkupString)TextHelpers.Linkify(context.InternalNotes))" style="font-weight: bold; color: var(--rz-success-dark); white-space: pre-line" Visible="@(!string.IsNullOrEmpty(context.InternalNotes))" /> *@
                                                <div>
                                                    @if (!string.IsNullOrEmpty(context.InternalNotes))
                                                    {
                                                        @if (!string.IsNullOrEmpty(context.InternalNotes) && context.InternalNotes.Contains("Teams Message Link"))
                                                        {
                                                            <div class="rz-text-body1" style="font-weight: bold; color: var(--rz-success-dark); white-space: pre-line">
                                                                @((MarkupString)TextHelpers.Linkify(context.InternalNotes))
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="rz-text-body1" style="font-weight: bold; color: var(--rz-success-dark); white-space: pre-line">
                                                                @context.InternalNotes
                                                            </div>

                                                        }
                                                    }
                                                    
                                                </div>
                                                            </RadzenStack>
                                                        </RadzenStack>
                                                    </Template>
                                                    
                                                </RadzenDataGridColumn>
                                            </Columns>
                                            <HeaderTemplate>
                                                <RadzenStack Orientation="Radzen.Orientation.Horizontal" AlignItems="Radzen.AlignItems.Center" Gap="5">
                                                    <RadzenButton Icon="refresh" Variant="Radzen.Variant.Outlined" Size="Radzen.ButtonSize.Small" Click="@RefreshTimeEntriesButtonClick"></RadzenButton>
                                                    <RadzenLabel Text="Time Entries?" />
                                                    <RadzenCheckBox TValue="bool" @bind-Value="@filterTimeEntries" Change="@TimeEntriesSearchCheckBoxChange"></RadzenCheckBox>
                                                    <RadzenLabel Text="Notes?" />
                                                    <RadzenCheckBox TValue="bool" @bind-Value="@filterNotes" Change="@NotesSearchCheckBoxChange" ></RadzenCheckBox>
                                                    <RadzenLabel Text="Communication?" />
                                                    <RadzenCheckBox TValue="bool" @bind-Value="@filterCommunication" Change="@NotesSearchCheckBoxChange" ></RadzenCheckBox>
                                    <RadzenTextBox Placeholder="Search ..." style="display: block" aria-label="Search by all string columns" @bind-Value="@search" Change="@SearchTextBoxChange" AutoCompleteType="Radzen.Blazor.AutoCompleteType.Off" @onkeydown:stopPropagation />
                                                    <RadzenButton Icon="search" Variant="Radzen.Variant.Outlined" Size="Radzen.ButtonSize.Small" Text="Search" Click="@SearchTimeEntriesButtonClick" Visible="false"></RadzenButton>
                                                        
                                                </RadzenStack>
                                            </HeaderTemplate>
                                        </RadzenDataGrid>
                                    </ChildContent>
                                </RadzenTabsItem>
                <RadzenTabsItem Text="Attachments" Icon="attachment" Selected="false">
                    <ChildContent>
                        <RadzenDataGrid @ref="@attachmentsGrid" TItem="Server.Models.AttachmentDtoResult" Data="@attachments" IsLoading="@attachmentsLoading" LoadData="@DataGrid2LoadData">
                        <Columns>
                            <RadzenDataGridColumn TItem="Server.Models.AttachmentDtoResult" Title="Title" MinWidth="200px">
                                <Template>
                                    <RadzenLink Target="_blank" Text="@($"  {context.title}")" Path="@($"https://ww5.autotask.net/Mvc/Framework/attachment.mvc/openfileattachment?attachmentId={context.id}")" Icon="link"></RadzenLink>
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Server.Models.AttachmentDtoResult" Property="attachDate" Title="Date" Width="180px">
                                <Template>
                                    <RadzenLabel Text="@(context.attachDate.ToLocalTime().ToString("MM/dd/yyyy h:mm tt"))" />
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Server.Models.AttachmentDtoResult" FrozenPosition="Radzen.FrozenColumnPosition.Right" Width="50px">
                                <Template>
                                    <RadzenButton ButtonStyle="Radzen.ButtonStyle.Danger" Variant="Radzen.Variant.Outlined" Icon="delete" Size="Radzen.ButtonSize.Small" Style="width: 28px; height: 28px" Click="@((args) => DeleteAttachmentButton2Click(args, context))"></RadzenButton>
                                </Template>
                            </RadzenDataGridColumn>
                            
                        </Columns>
                        <HeaderTemplate>
                                <RadzenStack Orientation="Radzen.Orientation.Horizontal" AlignItems="Radzen.AlignItems.Center">
                                    <RadzenButton Icon="refresh" Variant="Radzen.Variant.Outlined" Size="Radzen.ButtonSize.Small" Click="@RefreshAttachmentsButtonClick"></RadzenButton>
                                    <RadzenUpload ChooseText="Choose or Drag & Drop Here" Url="upload/EmailAttachments" Multiple="true" Complete="@Upload0Complete" Error="@Upload0Error" Progress="@Upload0Progress"></RadzenUpload>
                                </RadzenStack>
                            </HeaderTemplate>
                    </RadzenDataGrid>
                    </ChildContent>
                    
                </RadzenTabsItem>
                <RadzenTabsItem Text="Service Calls" Icon="assignment" Selected="false">
                    <RadzenDataGrid @ref="@serviceCallsGrid" TItem="Server.Models.ServiceCall" Data="@serviceCalls" IsLoading="@serviceCallsLoading" LoadData="@DataGrid1LoadData">
                        <Columns>
                            <RadzenDataGridColumn TItem="Server.Models.ServiceCall" Property="description" Title="Description" Width="150px">
                                <Template>
                                    <RadzenLabel Text="@context.description" style="white-space: pre-line;" />
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Server.Models.ServiceCall" Property="duration" Title="Duration" Width="70px"></RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Server.Models.ServiceCall" Property="startDateTime" Title="Start" Width="155px">
                                <Template>
                                    <RadzenLabel Text="@(context.startDateTime.ToLocalTime().ToString("MM/dd/yyyy h:mm tt"))" />
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Server.Models.ServiceCall" Property="endDateTime" Title="End" Width="155px">
                                <Template>
                                    <RadzenLabel Text="@(context.endDateTime.ToLocalTime().ToString("MM/dd/yyyy h:mm tt"))" />
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Server.Models.ServiceCall" Property="isComplete" Title="Completed" Width="100px">
                                <Template>
                                    <RadzenBadge Text="Complete" BadgeStyle="Radzen.BadgeStyle.Success" Variant="Radzen.Variant.Outlined" IsPill="true" Visible="@(context.isComplete == 1)"></RadzenBadge>
                                </Template>
                            </RadzenDataGridColumn>
                        </Columns>
                        <HeaderTemplate>
                                <RadzenStack Orientation="Radzen.Orientation.Horizontal" AlignItems="Radzen.AlignItems.Center">
                                    <RadzenButton Icon="refresh" Variant="Radzen.Variant.Outlined" Size="Radzen.ButtonSize.Small" Click="@RefreshServiceCallsButtonClick"></RadzenButton>
                                </RadzenStack>
                            </HeaderTemplate>
                    </RadzenDataGrid>
                </RadzenTabsItem>
                <RadzenTabsItem Text="To Do's" Icon="assignment" Selected="false">
                    <RadzenDataGrid @ref="@todosGrid" TItem="Server.Models.CompanyTodoDtoResult" Data="@todos" IsLoading="@todosLoading" LoadData="@todosGridLoadData" >
                        <Columns>
                            <RadzenDataGridColumn TItem="Server.Models.CompanyTodoDtoResult" Property="description" Title="Description" Width="150px">
                                <Template>
                                    <RadzenLabel Text="@context.activityDescription" style="white-space: pre-line;" />
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Server.Models.CompanyTodoDtoResult" Property="DurationFormatted" Title="Duration" Width="70px"></RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Server.Models.CompanyTodoDtoResult" Property="startDateTime" Title="Start" Width="155px">
                                <Template>
                                    <RadzenLabel Text="@(context.startDateTime.ToLocalTime().ToString("MM/dd/yyyy h:mm tt"))" />
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Server.Models.CompanyTodoDtoResult" Property="endDateTime" Title="End" Width="155px">
                                <Template>
                                    <RadzenLabel Text="@(context.endDateTime.ToLocalTime().ToString("MM/dd/yyyy h:mm tt"))" />
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Server.Models.CompanyTodoDtoResult" Property="completedDate" Title="Completed" Width="100px">
                                <Template>
                                    <RadzenBadge Text="Complete" BadgeStyle="Radzen.BadgeStyle.Success" Variant="Radzen.Variant.Outlined" IsPill="true" Visible="@(context.completedDate.HasValue)"></RadzenBadge>
                                </Template>
                            </RadzenDataGridColumn>
                        </Columns>
                        <HeaderTemplate>
                            <RadzenStack Orientation="Radzen.Orientation.Horizontal" AlignItems="Radzen.AlignItems.Center">
                                <RadzenButton Icon="refresh" Variant="Radzen.Variant.Outlined" Size="Radzen.ButtonSize.Small" Click="@RefreshTodosButtonClick"></RadzenButton>
                            </RadzenStack>
                        </HeaderTemplate>
                    </RadzenDataGrid>
                </RadzenTabsItem>
            </Tabs>
        </RadzenTabs>
    </RadzenStack>
</RadzenStack>

<style>
.avatar {
    width: 50px;
    height: 50px;
    object-fit: scale-down;
    border-radius: 50%;
}
</style>